<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Redirect page</title>
</head>

<body>
<h2>Hello World redirect</h2>
Message from controller:
<span th:text="${msg}"></span><br>
Number from controller:
<span th:text="${number}"></span>
<form method="get" action="redirect_page2">
    <button type="submit">To MySQL</button>
</form>

</body>

</html>