<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User List</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>User List</h1>
    <form method="get" action="usersEdit">
        <button type="submit">Create User</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Last Edit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.name}+' '+${user.name}">Test</td>
            <td th:text="${user.email}">Test</td>
            <td th:text="${user.myDate.toLocaleString()}">Test</td>

            <td>
                <a href="/usersEdit/1" th:href="@{/userEdit/__${user.id}__}">Edit</a>
                <a href="/userDelete/1" th:href="@{/userDelete/__${user.id}__}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>