<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Users</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Users</h1>
    <form class="form-group" action="/usersEdit" th:action="@{/usersEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${user.id}" />
        <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" id="title" th:field="${user.name}" />
        </div>
        <div class="form-group">
            <label for="title">Email</label>
            <input type="email" class="form-control" id="email" th:field="${user.email}" />
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/allusers}" class="btn btn-danger" role="button">Cancel</a>
    </form>
</div>
</body>
</html>